body {
    background-image: url('/assets/css/Pictures/163302763816327698011632602616Consult_header-10.jpeg');
    background-position-y: 0
}

h1 {
    text-align: center;
    font-size: 100px;
    color: white;
    padding-right: 50%;
    position: relative;
    bottom: 100px;
}